* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

.container {
    background-color: #eee;
    min-height: 60vh;
    padding: 50px;
}

.products-container {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
}

.product-image {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    /* Adicione uma cor de fundo temporária para fins de depuração */
    background-color: #ccc;
}

#img1 {
    /* Verifique o caminho da imagem */
    background-image: url('imagem/img2.jpg');
}

.card p {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold; /* Correção na propriedade de font-weight */
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #3bd36b;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    transition: 0.5s;
}

.btn:hover {
    background-color: #0f642f;
}

body {
    background-color: cadetblue;
}